@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&:wght@400;700&display=swap");

/* Typography */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-kaisei;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 18px;
  line-height: 1.8em;
  &._sm {
    font-size: 16px;
  }
}

@mixin typography-1025 {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}

@mixin typography-768 {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    &._sm {
      font-size: 14px;
    }
  }
}
