$main: #3d5a5c;
$main-1: #3d5a5c;
$white-main: #a7c4c6;
$white: #fff;
$white-bg: #e4f1f4;
$black: #101010;
$black-main: mix($black, $main, 80%);
$black-0: #000;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-kaisei: "Kaisei Tokumin", $font-secondary;
