.hero {
  background: $main;
  padding: 20px 0 60px 0;
  &__inner {
    position: relative;

    &-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 500px;
      min-height: 55vh;
      margin-right: auto;
      padding: 40px 0 80px 0;

      h1 {
        color: $white-main;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 1em;

        span {
          color: $white-bg;
          text-transform: uppercase;
        }
      }
      p {
        color: $white-main;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        max-width: 380px;
      }
    }
    &-banner {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: calc(100% - 520px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
      }
    }
  }
  &__form {
    margin-top: 1.5rem;

    &-title {
      display: block;
      color: $white-main;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      font-variant: all-small-caps;
      width: 100%;
      margin-bottom: 1em;
    }
    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;

      .input {
        width: 26.5%;
      }
      .button--light {
        width: 16%;
        background: $white;
      }
    }
  }
}
.about {
  padding: 125px 0;
  background: $white;

  &__inner {
    position: relative;

    &-content {
      color: $main;
      max-width: 550px;
      margin-right: auto;

      h2 {
        margin-bottom: 1em;
      }
      p {
        margin-bottom: 2em;

        color: $main-1;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
      }
    }

    &-banner {
      position: absolute;
      font-size: 35px;
      top: 1em;
      right: 0;
      width: calc(100% - 580px - 1em);
      z-index: 0;
      max-width: 485px;

      img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: -1em;
        left: -1em;
        background: rgba($black, 0.1);
        background: linear-gradient(
          184.25deg,
          #3d5a5c -93.66%,
          rgba(169, 195, 198, 0) 96.54%
        );

        z-index: -1;
      }
    }
  }
}
.dream {
  background: $main;
  padding: 125px 0;
  &__inner {
    h2 {
      color: $white-main;
      margin-bottom: 2.5em;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      row-gap: 20px;
    }
    &-item {
      width: calc(33.3% - 20px);
      margin: 0 10px;

      .ratioImage {
        padding-bottom: 90%;
      }

      &:nth-child(n + 4) {
        display: none;
      }
    }
    &-footer {
      display: flex;
      justify-content: center;
      gap: 25px;
      margin-top: 50px;

      .button {
        min-width: 150px;
      }
    }
  }
}
.services {
  padding: 130px 0;
  background: $main;
  color: $white;

  &__inner {
    h2 {
      color: inherit;
      margin-bottom: 2.5em;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }
    &-item {
      position: relative;
      width: calc(33.3% - 20px);
      margin: 10px;
      z-index: 0;

      .ratioImage {
        padding-bottom: 90%;
      }

      h2 {
        color: $white;
        position: relative;
        margin-bottom: 0.8em;
        top: -0.4em;
      }
      p {
        color: $white;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
      }

      &-title {
        position: absolute;
        z-index: 1;
        left: 1.8em;
        bottom: 1.8em;

        //font
        color: $white-main;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        font-variant: all-small-caps;
        z-index: 1;
      }
    }
    &-footer {
      display: flex;
      justify-content: center;
      gap: 25px;
      margin-top: 50px;

      .button {
        min-width: 150px;
      }
    }
  }

  &--light {
    color: $black;
    background: $white-bg;
  }
}
.serviceInfo {
  background: $white-bg;
  padding: 125px 0;

  &__inner {
    position: relative;
    &-content {
      color: $black;
      max-width: 550px;
      margin-right: auto;

      h2 {
        margin-bottom: 1em;
      }
      .button {
        margin-top: 30px;
        min-width: 150px;
      }
    }
    &-banner {
      position: absolute;
      top: 50%;
      right: 0;
      width: calc(100% - 580px);
      height: 100%;
      transform: translateY(-50%);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
.testimonials {
  background: $main;
  padding: 125px 0;

  &__inner {
    color: $white;
    h2 {
      margin-bottom: 1.8em;
    }
    &-slider {
      .slick-list {
        overflow: visible;
      }
    }
    &-arrows {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  &__item {
    border: 1px solid $white;
    height: 100%;
    max-width: 360px;

    //display
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;

    //font
    font-size: 15px;
    text-align: center;

    padding: 2em 3.5em;

    &-image {
      width: 90%;
      padding: 1em 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    strong {
      color: $white;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
    }
    p {
      position: relative;
      //font
      color: $white;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 1.4;

      &::after {
        content: "";
        position: absolute;
        bottom: calc(100% - 0.2em);
        right: calc(100% + 0.2em);
        width: 2.5em;
        height: 2.5em;
        background: url(../../../images/icons/quote.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        opacity: 0.5;
      }
    }
  }
}

@mixin index-1160 {
  .hero {
    &__inner {
      &-content {
        min-height: 45vh;
      }
    }
  }
  .about {
    padding: 100px 0;
    &__inner {
      &-banner {
        width: calc(100% - 450px);
      }
      &-content {
        width: 420px;
      }
    }
  }
  .services {
    padding: 100px 0;
  }
  .serviceInfo {
    padding: 100px 0;

    &__inner {
      &-content {
        width: 420px;
      }
      &-banner {
        width: calc(100% - 450px);
      }
    }
  }
}
@mixin index-1025 {
  .hero {
    &__inner {
      &-content {
        min-height: 40vh;
        max-width: 450px;
      }
      &-banner {
        width: calc(100% - 470px);
        img {
          object-position: center;
        }
      }
    }
  }
  .about {
    &__inner {
      &-banner {
        &:before {
          top: -0.6em;
          left: -0.6em;
        }
      }
    }
  }
}
@mixin index-940 {
  .hero {
    &__inner {
      &-content {
        padding: unset;
        min-height: unset;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;

        h1 {
          width: 100%;
          max-width: 450px;
          margin: 0 auto 0.56em auto;
        }
        p {
          margin: 0 auto;
        }
      }
      &-banner {
        position: unset;
        width: 100%;
      }
    }
    &__form {
      max-width: 700px;
      margin: 0 auto;
      margin-top: 40px;
      padding-top: 60px;
      border-top: 1px solid $white-main;

      &-group {
        flex-direction: column;

        .input {
          width: 100%;
        }
        .button {
          width: 90%;
          max-width: 400px;
          margin: 0 auto;
        }
      }
    }
  }
  .about {
    padding: 80px 0;
    &__inner {
      h2 {
        margin-bottom: 3em;
      }
      &-content {
        width: 100%;
        max-width: unset;
      }
      &-banner {
        position: relative;
        width: 80%;
        top: unset;
        right: unset;
        max-width: unset;
        margin: 0 auto 2em auto;
      }
    }
  }
  .dream {
    padding: 80px 0;
    &__inner {
      &-row {
        flex-wrap: wrap;
        margin: 0 -20px;
      }
      &-item {
        width: calc(50% - 20px);
        margin: 10px;
        &:nth-child(n) {
          display: block;
        }
      }
    }
  }
  .services {
    padding: 80px 0;

    &__inner {
      &-row {
        flex-wrap: wrap;
        margin: 0 -20px;
      }
      &-item {
        width: calc(50% - 20px);
        margin: 10px;
      }
    }
  }
  .serviceInfo {
    padding: 80px 0;

    &__inner {
      &-content {
        width: 100%;
        max-width: unset;
      }
      &-banner {
        position: unset;
        transform: unset;
        width: 90%;
        max-width: 650px;
        padding: 20px 0;
        margin: 0 auto;
      }
    }
  }
  .testimonials {
    &__inner {
      &-arrows {
        margin-top: 30px;
      }
    }
  }
}
@mixin index-580 {
  .dream {
    padding: 40px 0;

    &__inner {
      &-row {
        flex-direction: column;
        margin: 0;
      }
      &-item {
        width: 100%;
        margin: 0;
        max-width: unset;
      }
    }
  }
  .services {
    padding: 40px 0;

    &__inner {
      &-row {
        flex-direction: column;
        margin: 0;
        gap: 16px;
      }
      &-item {
        width: 100%;
        margin: 0;
        max-width: unset;
      }
    }
  }
}
