.footer {
  background: $main;
  margin-top: auto;
  padding: 20px 0;

  &__inner {
    color: $white-main;

    &-header {
      padding: 80px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba($white, 0.1);

      &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        width: calc(100% - 280px);
        max-width: 810px;
      }
      &-form {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        .input {
          flex: 1 0 0;

          input {
            padding: 0.5em 0.2em;
          }
        }
      }
      .logo {
        width: 180px;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
      .button {
        font-size: 18px;
      }
      p {
        color: $white-main;
        font-size: 14px;
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 200;
        line-height: 1.2;
      }
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 80px 0 0 0;
      ///font
      color: rgba($white-main, 0.8);
      font-size: 14px;
      line-height: 1.4;

      &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        width: calc(25% - 20px);
        max-width: 240px;

        h6 {
          color: $white-main;
          font-family: $font-primary;
          font-weight: 500;
          margin-bottom: 20px;
        }

        &._sm {
          max-width: 140px;
        }
      }
      ul {
        li {
          display: flex;
          gap: 0.6em;
          justify-content: space-between;
          strong {
            color: $white-main;
            font-weight: 400;
          }
          a {
            color: inherit;
            transition: 0.15s ease-out;

            &:hover {
              color: $white-main;
              text-decoration: underline;
            }
          }
        }
      }
      &-note {
        position: relative;
        padding-left: 2.6em;

        .ico {
          display: flex;
          position: absolute;
          left: 0;
          top: 0.2em;
          width: 1.3em;
          height: 1.3em;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      &-link {
        position: relative;
        color: rgba($white-main, 0.8);
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 200;
        font-size: inherit;
        line-height: 150%;
        transition: 0.3s ease-out;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: calc(100% + 0.2em);
          left: 0;
          width: 20%;
          height: 1px;
          background: rgba($white, 0.4);
          opacity: 0;
          transform: translateY(-50%);
          transition: 0.2s ease-out;
        }
        &:hover {
          color: $main;
          &:after {
            width: 95%;
            opacity: 1;
          }
        }
        &:hover {
          color: $white;
        }
      }
      &-copyright {
        margin-top: 60px;
        width: 100%;

        //font
        color: $white-main;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        text-align: center;

        span,
        a {
          color: $white-bg;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0 0 0;
    .logo {
      display: flex;
      width: 145px;
    }
    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 1;
      color: $white-2;
      text-align: center;

      span,
      a {
        color: $white-1;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@mixin footer-1280 {
  .footer {
    &__copyright {
      .logo {
        width: 130px;
      }
    }
  }
}

@mixin footer-1160 {
  .footer {
    &__inner {
      &-header {
        padding: 40px 0;
        .logo {
          width: 160px;
        }
      }
      &-content {
        &-column {
          h6 {
            margin-bottom: 10px;
          }
        }
        &-note {
          padding-left: 1.6em;
          .ico {
            width: 1em;
            height: 1em;
          }
        }
        &-copyright {
          margin-top: 20px;
        }
      }
    }
    &__copyright {
      .logo {
        width: 110px;
      }
    }
  }
}
@mixin footer-1025 {
  .footer {
    padding: 20px 0;
    &__inner {
      &-header {
        padding: 30px 0;
        .logo {
          width: 160px;
        }
      }
      &-content {
        &-column {
          width: calc(25% - 10px);
          gap: 10px;
          h6 {
            margin-bottom: 0.6em;
          }
        }
      }
    }
    &__copyright {
      padding: 20px 0 0 0;
      .logo {
        width: 90px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
}
@mixin footer-940 {
  .footer {
    &__inner {
      &-header {
        flex-direction: column;
        gap: 25px;
        padding: 30px 0;
        .logo {
          width: 160px;
        }
        &-row {
          width: 100%;
        }
      }
      &-content {
        gap: 25px;
        &-column {
          width: calc(50% - 20px);
          max-width: unset;

          &._sm {
            max-width: unset;
          }
        }
      }
    }
    &__copyright {
      padding: 20px 0 0 0;
      .logo {
        width: 90px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
}

@mixin footer-768 {
  .footer {
    &__inner {
      &-header {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        gap: 30px;

        .logo {
          width: 140px;
        }
        &-row {
          flex-direction: column;
          text-align: center;
          max-width: 420px;
          gap: 15px;

          p {
            order: -1;
            font-size: 18px;
            font-weight: 300;
            color: $white;
          }
        }
        &-form {
          flex-direction: column;
          gap: 25px;
        }
      }
      &-content {
        &-column {
          max-width: 240px;

          &._sm {
            max-width: 240px;
          }
        }
        &-copyright {
          font-size: 12px;
        }
      }
    }
    &__copyright {
      flex-direction: column;
      align-items: flex-start;
      padding: 5px 0 0 0;
      gap: 14px;
      .logo {
        width: 90px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
}

@mixin footer-580 {
  .footer {
    &__inner {
      &-header {
        &-form {
          gap: 15px;
        }
      }
      &-content {
        gap: 0;
        padding: 20px 0 0 0;

        &-note {
          width: 100%;
          br {
            display: none;
          }
        }
        ul {
          width: 100%;
        }
        &-column {
          width: 100%;
          max-width: unset;
          padding: 20px 0;
          gap: 5px;
          border-bottom: 1px solid rgba($white-main, 0.2);

          &._sm {
            max-width: unset;
          }

          h6 {
            margin-bottom: 5px;
          }
        }
        &-copyright {
          font-size: 10px;
          margin-top: 45px;
        }
      }
    }
    &__copyright {
      gap: 12px;
      &-text {
        font-size: 10px;
      }
    }
  }
}

@mixin footer-460 {
  .footer {
    &__inner {
      &-header {
        &-group {
          p {
            font-size: 16px;
          }
        }
        .logo {
          width: 120px;
        }
      }
      &-content {
        &-links {
          margin: 0;
          .footer__inner-content-column {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
